.container {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: $fontSize-m;
  text-align: center;
  color: $primaryColor;
  background-color: $primaryBgColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
